In [2]:
#question 1
l = []
l
type(l)  
# we use [] for indexing purpose

list

In [8]:
#question 2
spam = [2,4,6,8,10]
spam

[2, 4, 6, 8, 10]

In [9]:
spam.insert(3,'spam')
spam

[2, 4, 6, 'spam', 8, 10]

In [19]:
# question 3
spam = ['a','b','c','d']
spam[int(int('3'* 2) / 11)] #spam[3]='d'

'd'

In [20]:
# question 4
spam[-1] # prints in reverse order

'd'

In [21]:
# question 5
spam[:2]  # starting index is taken as 0 and stop index is 2(where upperbound minus one is output)

['a', 'b']

In [33]:
# question 6
bacon = [3.14,'cat',11, 'cat',True] 
bacon.index('cat')                  # index of cat is 1

1

In [28]:
# question 7
bacon.append(99)
bacon            # append the object to the end of the list

[3.14, 'cat', 11, 'cat', True, 99]

In [45]:
# question 8
bacon = [3.14,'cat',11, 'cat',True] 
bacon.remove('cat')
bacon                  # removes cat which is in first index by directly giving value and not 3rd value

[3.14, 11, 'cat', True]

In [53]:
# question 9
# concatenation operators are used to combine two lists
list1 = [1, 4, 5, 6, 5]
list2 = [3, 5, 7, 2, 5]
 # using naive method to concat
for i in list2 :
    list1.append(i)
print("conacatenated list: " + str(list1))
# using + operator to concat
list2 = list2 + list1
# using list.extend() to concat
list2.extend(list1)
# using * opearator to concat
 list3 = [*list1, *list2]

conacatenated list: [1, 4, 5, 6, 5, 3, 5, 7, 2, 5]

In [55]:
# replication operators
#when list is on the left of the star then it becomes repitition operator
#The repetition operator makes multiple copies of a list and joins them all together. 
#Lists can be created using the repetition operator 
#For example,
a = [1] * 5
print(a)
b = [2,3,4] * 4
b

[1, 1, 1, 1, 1]

[2, 3, 4, 2, 3, 4, 2, 3, 4, 2, 3, 4]

In [60]:
# question 10
l = [2,4,5,6,7]
l.append(9)      # appends value to the end of the list
l.insert(0,3)     # inserts value anywere we want in the list
l

[3, 2, 4, 5, 6, 7, 9]

In [69]:
# question 11
l = [2,4,5,6,7,8,9]
l.pop(5)  # removes value of the list by giving index value
l
# output:[2,4,5,6,7,9]
l.pop()    #removes last value when index is not given
l
# output:[2,4,5,6,7]
l.remove(2)  # removes value directly by giving value and not by index
l

[4, 5, 6, 7]

In [1]:
# question 12
l = [2,4,5,7,8]
name = "divya"
#both list values ans string values arre unhashable.

{'name': 'divya', 'place': 'chennai', 'num': 9398548312}

In [25]:
#question 13
#lists are mutable 
# tuples are immutable
l = [5,6,7,8,9,2]
l.append(4)        #we can add,modify,delete values in lists
l
l.insert(3,9)
l

[5, 6, 7, 9, 8, 9, 2, 4]

In [23]:
#question 13
t = (6,7,8,9,5)
t.append()
t     
# we cannot change tuple values once it is created

AttributeError: 'tuple' object has no attribute 'append'

In [31]:
# question 14
t = (42)
t

42

In [33]:
# question 15
t = (4,6,7,8,9)
l = [2,4,5,8,1]
tuple(l)

(2, 4, 5, 8, 1)

In [34]:
list(t)

[4, 6, 7, 8, 9]

In [38]:
# question 16
l = [3,5,6,"divya",[3,7,8],(1,2,3),{"name":"jahnu"}] # inside list there is another lists,tuples,dict.....
l

[3, 5, 6, 'divya', [3, 7, 8], (1, 2, 3), {'name': 'jahnu'}]

In [81]:
#  question 17
a = [[1, 2, 3], [4, 5, 6]]
b = list(a)
a = [[1, 2, 3], [4, 5, 6]]
b = [[1, 2, 3], [4, 5, 6]]
a[0][1] = 10
a = [[1, 10, 3], [4, 5, 6]]
b = [[1, 10, 3], [4, 5, 6]]  #b changes too -> Not a deepcopy

In [86]:
import copy
a = [[1, 2, 3], [4, 5, 6]]
b = copy.deepcopy(a)
b
a[0][1] = 10
a = [[1,10,3],[4,5,6]]
b = [[1,2,3],[4,5,6]] # b doesn't change=>deep copy

[[1, 2, 3], [4, 5, 6]]